/*
  font-family: 'Overpass', sans-serif;
  font-family: 'Ubuntu', sans-serif;
*/
body {
  min-height: 100vh;
}
/* Mobile First Design */

/* Header */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem;
}

#logo {
  width: 101px;
}

#menu-hamburger {
  width: 32px;
}

#icon-close {
  width: 26px;
}

.hide {
  display: none;
}

#menu-mobile {
  position: absolute;
  top: 80%;
  right: 60%;
  width: 90%;
  transform: translateX(60%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  text-align: center;
  padding: 2rem 0;
  font-family: 'Overpass', sans-serif;
}

#menu-list > li, #menu-sign-in > li {
  margin-bottom: 1.5rem;
}

.menu-heading > h2, .menu-heading > img {
  display: inline;
}

.menu-heading > h2 {
  color: hsl(208, 49%, 24%);
  font-weight: 600;
}

.icon-arrow {
  width: 10px;
  cursor: pointer;
}

.sublist-opened {
  transform: rotate(180deg);
}

#menu-list {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid hsl(0, 0%, 92%);
}

.menu-sublist {
  width: 100%;
  margin: 1.5rem auto 0 auto;
  padding: 1rem;
  background-color: hsl(0, 0%, 92%);
  border-radius: 5px;
  color: hsl(208, 49%, 24%);
}

.menu-sublist > li {
  margin-bottom: 1rem;
  cursor: pointer;
}

.menu-sublist > li:last-child {
  margin-bottom: 0;
}

.menu-sublist > li:hover {
  font-weight: 600;
}

#menu-sign-in {
  margin-top: 1.5rem;
  color: hsl(208, 49%, 24%);
  font-weight: 600;
}

#menu-sign-in > li {
  margin-bottom: 1.5rem;
  cursor: pointer;
}

#menu-sign-in-btn {
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  background: linear-gradient(0.25turn, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  padding: .75rem 2.5rem;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;
}

/* Main */
main {
  width: 100%;
  text-align: center;
}

/* Main Header: CTA */
#main-header-wrapper{
  background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-bottom-left-radius: 6rem;
}

.main-header {
  background-image: url('../images/bg-pattern-intro-mobile.svg');
  background-size: 320%;
  background-repeat: no-repeat;
  background-position: top 33% left 37%;
  border-bottom-left-radius: 6rem;
  font-family: 'Ubuntu', sans-serif;
  color: hsl(0, 0%, 100%);
}

.main-header > h2, .main-header > div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.main-header > h2 {
  padding-top: 12rem;
  font-size: 2rem;
  padding-bottom: 1.5rem;
  font-weight: 400;
}

#main-header-quote {
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}

.main-header > div:last-child {
  padding-top: 3rem;
  padding-bottom: 8rem;
}

#main-header-btns {
  display: flex;
  justify-content: space-between;
}

.main-header input {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  padding: .75rem 1.25rem;
  border-radius: 2rem;
  cursor: pointer;
}

#btn-main-header-first, #btn-main-header-second:hover {
  background-color: white;
  color: hsl(356, 100%, 66%);
}

#btn-main-header-first:hover {
  background-color: hsl(355, 100%, 74%);
  border-color: transparent;
  color: hsl(0, 0%, 100%);
}

/* Main Div 1: Designed For the future */
.main-info-container {
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 3rem;
  font-family: 'Overpass', sans-serif;
}

.main-info-container > h2 {
  margin-bottom: 3rem;
}

.main-info-container > h2, .main-info-section > h3 {
  font-size: 1.75rem;
  color: hsl(208, 49%, 24%);
  font-weight: 600;
}

.main-info-section {
  width: 70%;
  margin: 3rem auto;
  text-align: left;
}

.main-info-section > h3 {
  margin-bottom: .75rem;
}

.main-info-section > div {
  line-height: 1.5rem;
}

#main-info-sidenote-wrapper {
  background: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
}

#main-info-sidenote {
  background-image: url('../images/bg-pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: top -2800% left 50%;
  background-size: 156%;
  color: hsl(0, 0%, 100%);
  position: relative;
  font-family: 'Overpass', sans-serif;
  padding-top: 14rem;
  padding-bottom: 7rem;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
  margin-top: 15rem;
}

#main-info-sidenote > img {
  position: absolute;
  top: -30%;
}

#main-info-sidenote > h2 {
  padding-bottom: 1.5rem;
  font-size: 2.25rem;
  width: 90%;
  margin: 0 auto;
}

#main-info-sidenote > div {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5rem;
}
/* Footer */
footer {
  background-color: hsl(240, 10%, 16%);
  border-top-right-radius: 6rem;
  padding-top: 5rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-family: 'Ubuntu', sans-serif;
}

#footer-logo {
  width: 30%;
  margin: 0 auto;
}

.footer-list {
  padding: 5rem 0;
}


.footer-sublist {
  color: hsl(240, 2%, 79%);
  margin: 2.5rem 0;
}

.footer-sublist > li {
  margin-bottom: 1rem;
  cursor: pointer;
}

.footer-sublist > li:hover {
  text-decoration: underline;
}

@media (min-width: 1440px) {
  /* Desktop View */
  /* Header */
  header {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
  }
  
  header > h1 {
    width: 10%;
    margin-right: 3rem;
  }

  header > div {
    width: 90%;
  }

  #menu-hamburger {
    display: none;
  }

  #icon-close {
    display: none;
  }

  #menu-mobile {
    display: flex;
    position: inherit;
    top: inherit;
    right: inherit;
    width: auto;
    transform: inherit;
    background-color: transparent;
    border-radius: inherit;
    box-shadow: none;
    padding: 0;
    text-align: inherit;
    font-family: 'Ubuntu', sans-serif;
  }

  #menu-list, #menu-sign-in {
    display: flex;
    align-items: center;
  }

  #menu-list {
    border: none;
  }

  #menu-list > li {
    margin-bottom: 0;
    position: relative;
  }

  #menu-list > li:not(:first-child) {
    margin-left: 1.5rem;
  }
  
  .menu-heading > h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
  }
  
  .icon-arrow {
    content: url('../images/icon-arrow-light.svg');
  }
  
  .menu-sublist {
    position: absolute;
    width: auto;
  }

  #menu-sign-in {
    margin: 0;
    color: hsl(0, 0%, 100%);
  }

  #menu-sign-in > li {
    margin: 0;
  }

  #menu-sign-in > li {
    margin-left: 1.5rem;
  }

  #menu-sign-in-btn {
    color: hsl(353, 100%, 62%);
    background: none;
    background-color: hsl(0, 0%, 100%);
  }
  /* Main */
  main {
    overflow-x: hidden;
  }

  #main-header-wrapper {
    background: linear-gradient(.25turn, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  }
  .main-header {
    background-image: url('../images/bg-pattern-intro-desktop.svg');
    background-size: 225%;
    background-position: top 52% left 27%;
    font-family: 'Overpass', sans-serif;
  }

  .main-header > h2 {
    font-size: 4rem;
  }

  #main-header-quote {
    font-size: 1.25rem;
  }

  #main-header-btns {
    width: 20%;
  }
  /* Designed for the future */
  .main-info-container {
    margin-top: 9rem;
    display: grid;
    grid-template-rows: min-content 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
  }

  .main-info-container > h2 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  #app-graph {
    content: url('../images/illustration-editor-desktop.svg');
    width: 115%;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    position: absolute;
    right: -31%;
    top: -30%;
  }

  #editor-section {
    grid-row: 2 / 3;
    grid-column: 1/ 2;
  }

  #management-section {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  /* State of the Art Infrastructure */
  #main-info-sidenote {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-position: top 80% left -50%;
    background-size: 70%;
    margin-top: 9rem;
  }

  #main-info-sidenote > img {
    top: -15%;
    left: 10%;
    width: auto;
  }

  #main-info-sidenote > h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
    margin: 0;
    width: 70%;
  }

  #main-info-sidenote > div {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    margin: 0;
    width: 70%;
    font-family: 'Overpass', sans-serif;
  }

  .main-info-container:last-of-type {
    grid-template-rows: 1fr 1fr;
    margin: 15rem 0;
  }

  #image-mobile {
    content: url('../images/illustration-laptop-desktop.svg');
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 115%;
    position: absolute;
    left: -235px;
    top: -175px;
  }

  #free-section {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: 0;
  }

  #tooling-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    align-self: end;
  }

  /* Footer */
  footer {
    text-align: start;
    display: flex;
  }

  #footer-logo {
    height: 100%;
    width: auto;
    margin: 0 0 0 8rem;
  }

  .footer-list {
    display: flex;
    padding: 0;
    width: 85%;
    justify-content: space-around;
    margin-right: 8rem;
  }
}
